.App {
  text-align: center;
}

.loading {
    height: 400px;
    width: 100%;
    max-width: 600px;
    position: absolute;
    border: 1px solid #300; 
    background: url('./static/flasher.jpg') center no-repeat #fff;
    padding-top: 10px;
    box-sizing: border-box;
}