.App {
  text-align: center;
}

.loading {
    height: 400px;
    width: 400px;
    position: absolute;
    border: 1px solid #300; 
    background: url('./static/flasher.jpg') center no-repeat;
    padding-top: 10px;
}